---
---

@import "{{ site.theme }}";

$color-text: #555;
$color-background: #fff;

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: $color-text;
  background: $color-background;
  max-width: 60rem;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}
