<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  </head>
  <body>
    <header>
      <nav>
        {% for item in site.data.nav.primary %}
          <a href="{{site.url }}{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
        {% endfor %}
      </nav>
      <p>{{ site.url }}</p>
      <hr>
      <h1>Github Pages Demo</h1>
      <h3>A static site experiment</h3>
      <hr>
    </header>
    <main>
      {{ content }}
      <hr>
      <h2>Blog Posts</h2>
      {% for post in site.posts %}
        <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
      {% endfor %}
    </main>
    <footer>
      <p>Hosted on Github Pages</p>
    </footer>
  </body>
</html>
